public class vinylrecords implements Serializable{
    
    private int vinylId;
    private String vinylName;
    private String author;
    private String pubDate;
    private double price;
    private int store;
    public int getvinylId() {
        return vinylId;
    }
    public void setvinylId(int vinylId) {
        this.vinylId = vinylId;
    }
    public String getvinylName() {
        return vinylName;
    }
    public void setvinylName(String vinylName) {
        this.vinylName = vinylName;
    }
    public String getAuthor() {
        return author;
    }
    public String getPubDate() {
        return pubDate;
    }
    public void setPubDate(String pubDate) {
        this.pubDate = pubDate;
    }
    public double getPrice() {
        return price;
    }
    public void setPrice() {
        this.price = price;
    }
    public int getStore() { 
        return store;
    }
    public void setStore(int store) {
        this.store = store;
    }
    public vinylrecords(int vinylId, String vinylName, String author, String pubDate,
            double price, int store) {
        super();
        this.vinylId = vinylId;
        this.vinylName = vinylName;
        this.author = author;
        this.pubDate = pubDate;
        this.price = price;
        this.store = store;
    }
   
}
